/* TODO: At some point, add sass in and make this nicer and less redundant!  */

@media screen and (max-width: 500px){
  input {
    outline: none;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: rgb(176, 156, 199);
    border: none;
    font-size: 1em;
    font-family: 'Muli', sans-serif;
    color: #252027;
  }
  .search-results {
    width: 70%;
    border: 2px solid white;
    margin: auto;
    background-color: rgb(176, 156, 199);
    color: #252027;
    cursor: pointer;
  }
}

@media screen and (min-width: 501px){
  input {
    outline: none;
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    background-color: rgb(176, 156, 199);
    border: none;
    font-size: 1em;
    font-family: 'Muli', sans-serif;
    color: #252027;
  }

  .search-results {
    border: 2px solid white;
    width: 50%;
    margin: auto;
    background-color:rgb(176, 156, 199);
    color: #252027;
    cursor: pointer;
  }
}

.button-and-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin: 1em;
}

.dropdown-menu {
  background-color: white;
  color: #252027;
}

.dropdown-toggle {
  background-color: white;
  border: none;
  color: #360478;
  padding: 15px 32px;
}

.dropdown-toggle:hover{
  background-color: rgba(255, 255, 255, 0.63);
  border: 1px solid #360478;
  color: #360478;
}

@media screen and (max-width: 500px){
  .button-and-dropdown {
    flex-direction: column;
  }
}

