body {
  margin: 0;
  background-color: rgb(186, 173, 202);
}

a {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.726);
}

.app {
  text-align: center;
  padding-left: 20px;
  color: rgb(19, 17, 17);
}

.button {
  background-color: white; 
  border: none;
  color: #360478;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.63);
  border: 1px solid #360478;
}

.google-form {
  padding-bottom: 1em;
  font-size: 1.5em;
  color: #312830;
}

.restaurant-data {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .restaurant-data {
    flex-direction: column-reverse;
  }
}